doctype html
html.no-js
  head
    meta charset="utf-8"
    title yo
    meta name="description" content=""
    meta name="viewport" content="width=device-width, initial-scale=1"
    / Place favicon.ico and apple-touch-icon.png in the root directory

    /! build:css styles/vendor.css
    = "\n"
    /! bower:css
    link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"
    /! endbower
    = "\n"
    /! endbuild
    = "\n"

    /! build:css styles/main.css
    link rel="stylesheet" href="styles/main.css"
    /! endbuild
    = "\n"

    /! build:js scripts/vendor/modernizr.js
    script src="bower_components/modernizr/modernizr.js"
    /! endbuild

    body
      /[if lt IE 10]
        p class="browsehappy"
          | You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.

      .container
        .header
          ul.nav.nav-pills.pull-right
            li.active: a href="#" Home
            li: a href="#" About
            li: a href="#" Contact

          h3 class="text-muted" bootstrap template

        .jumbotron
          h1 'Allo, 'Allo!
          p.lead Always a pleasure scaffolding your apps.
          p
            a.btn.btn-lg.btn-success href="#"
              i.fa.fa-check &nbsp;
              | Splendid!

        .row.marketing
          div class="col-lg-6"
            h4 HTML5 Boilerplate
            p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.

            h4 Sass
            p Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.

            h4 Bootstrap
            p Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.

            h4 Modernizr
            p Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.

            h4 Slim
            p Awesome shit

            h4 CoffeeScript
            p Another awesome shit

        .footer
          p ♥ from the Yeoman team

      / Google Analytics: change UA-XXXXX-X to be your site's ID.
      javascript:
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');

      = "\n"
      /! build:js scripts/vendor.js
      = "\n"
      /! bower:js
      script src="bower_components/jquery/dist/jquery.js"
      /! endbower
      = "\n"
      /! endbuild
      = "\n"

      = "\n"
      /! build:js scripts/plugins.js
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"
      script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"
      script src="bower_components/jcarousel/dist/jquery.jcarousel.js"
      /! endbuild

      = "\n"
      /! build:js scripts/main.js
      script src="scripts/main.js"
      /! endbuild
